@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

/* Hide horizontal scrollbar (still scrollable) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
